.main{
    font-size: 100px;
}
*{
 width: 100px;
 
}
.pic img{
    width: 400%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  position: relative;
    left: 600px;
    bottom: 400px;
    
}